   <!-- Navigation-->
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container px-4 px-lg-5 mx-1">
        <i class="fa-solid fa-cart-arrow-down fa-shake fa-2xl me-2" style="color: #e9e9e9;"></i>  <a class="navbar-brand text-light" routerLink="">Take & Go</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto  mb-2 mb-lg-0 ms-lg-4">
              
              
                <!-- ng g p products/pipes/filter -->
                <input (keyup)="search($event)" type="text" placeholder="Search By ItemName" class="form-control-md m-3">

            </ul>
            <form class="d-flex">
 
                <button routerLink="products/wishlist" class="btn btn-outline-light me-5" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Wishlist
                    <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                </button>

                <button routerLink="products/cart" class="btn btn-outline-light" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartCountValue}}</span>
                </button>
            </form>
        </div>
    </div>
</nav>

